<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- preferences -->
    <preference for="Magento\Payment\Gateway\Data\Order\OrderAdapter" type="Beecom\Twisto\Gateway\Data\Order\OrderAdapter"/>

    <!-- Payment Method Facade configuration -->
    <virtualType name="TwistoFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Beecom\Twisto\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Beecom\Twisto\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Beecom\Twisto\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">TwistoValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">TwistoGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Beecom\Twisto\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Beecom\Twisto\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="TwistoGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">TwistoGatewayCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="TwistoGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TwistoGatewayAuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Beecom\Twisto\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Beecom\Twisto\Gateway\Http\Client\TransactionAuthorize</argument>
            <argument name="handler" xsi:type="object">TwistoAuthorizationHandler</argument>
            <!--<argument name="validator" xsi:type="object">Beecom\Twisto\Gateway\Validator\ResponseValidator</argument>-->
        </arguments>
    </virtualType>
    <virtualType name="TwistoAuthorizationHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <!--<item name="payment_details" xsi:type="string">Magento\Twisto\Gateway\Response\PaymentDetailsHandler</item>-->
                <item name="txn_id" xsi:type="string">Beecom\Twisto\Gateway\Response\TransactionIdHandler</item>
            </argument>
        </arguments>
    </virtualType>


    <!-- Capture command -->
    <virtualType name="TwistoGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">TwistoGatewayCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Beecom\Twisto\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Beecom\Twisto\Gateway\Http\Client\TransactionCapture</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <virtualType name="TwistoGatewayCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Beecom\Twisto\Gateway\Request\CaptureDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="TwistoValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">TwistoConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TwistoConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Beecom\Twisto\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with TwistoGatewayConfig -->
    <type name="Beecom\Twisto\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Beecom\Twisto\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">twistoLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Beecom\Twisto\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="TwistoOrderPlaceAfterPlugin" type="Beecom\Twisto\Plugin\Order\PlaceAfterPlugin" sortOrder="99" />
    </type>
</config>
